{% extends "base.html" %}
{% block title %}My Dessert House{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="span4 offset4">
      <div class="well">
        <h1>Thanks for comming</h1>
      </div>
      <p>This website is design and written by <strong><a href="http://www.hackingtrace.com">@vancexu</a></strong>.</p>
      <p>Even though I have no idea of building a website, with the help of Django and Bootstrap, I learn fast and finsih this homework in 2 weeks.</p>
      <p>Any questions are welcomed, you can contact me through xuboweinju@gmail.com</p>
    </div>
  </div>
</div>


{% endblock %}