{% extends "base.html" %}
{% block title %}{{ user.username }}'s profile{% endblock %}
{% block content %}
	<div class="container">
    <h2></h2>
      <form class="form-horizontal" action="/register/" method="post">
        <div class="row-fluid">
          <div class="span6">
            <fieldset>
              <legend>Your Personal Information</legend>
              <div class="control-group">
                <label class="control-label" for="username">User name</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="username" name="username" placeholder="{{ user.username }}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="email" name="email" placeholder="{{ user.email }}">
                </div>
              </div>
              <hr />
              <div class="control-group">
                <label class="control-label" for="name">Real name</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="name" name="name" placeholder="{{ profile.name }}" >
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="age">Age</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="age" name="age" placeholder="{{ profile.age }}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="gender">Gender</label>
                <div class="controls">
                  <label class="radio">
                    <input type="radio" name="gender" value="M" checked>
                    Male
                  </label>
                  <label class="radio">
                    <input type="radio" name="gender" value="F">
                    Female
                  </label>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="addr">Address</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="addr" name="addr" placeholder="{{ profile.addr }}">
                </div>
              </div>
              <hr />
              <div class="control-group">
                <label class="control-label" for="money"><strong style="color:blue;">Money</strong></label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="money" name="money" placeholder="{{ profile.money }}">
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Change</button>
                <a href="/" class="btn" >Close</a>
              </div>
            </fieldset>
          </div>
          <!-- Info end -->
          <!-- product begin -->
          <div class="span6">
            <h2>Things you ever bought</h2>
            {% if products_bought %}
              <ul class="thumbnails">
                {% for product in products_bought %}
                  <li class="span2">
                    <a href="/" class="thumbnail">
                      <img src="/{{ product.photo }}" alt="" style="height:150px; width:150px">
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <!-- product end -->
      </form>
    </div>
  </div>  
	
{% endblock %}