{% extends "base.html" %}
{% block title %}{{ user.username }}'s profile{% endblock %}
{% block content %}
<!--Nav bar begin -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">My Dessert House</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <!-- <li><a href="/products">Products</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Products 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/productsavaliable">All Avaliable Products</a>
                </li>
                <li>
                  <a href="/productsall">All Products</a>
                </li>
              </ul>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          
          {% if not user.username %}
          <div id="LoginModal" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>Login</h3>
            </div>
            <div class="modal-body">
              <h4>Dear customer, long time no see</h4>
              <form action="/signin/" method="post" name="signinform">
                <label for="username">User name:</label>
                <input type="text" name="username" value="" id="username" />
                <label for="password">Password:</label>
                <input type="password" name="password" value="" id="password" />
                {% if error %}
                  <div id="signin_error">{{ error }}</div>
                {% endif %}
                <!-- <input type="submit" value="signin" /> -->
                {% if next %}
                <input type='hidden' name='next' value='{{next}}' />
                {% endif %}
                <script type="text/javascript">
                  function loginFormSubmit() {
                    document.forms["signinform"].submit();
                  }
                </script>
              </form>
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" onclick="loginFormSubmit()">OK</a>
              <a href="#" class="btn" data-dismiss="modal" >Close</a>
            </div>
          </div>
          <p class="navbar-text pull-right">
            <a data-toggle="modal" href="#LoginModal">Login</a> | <a href="/register/">Register</a>
          </p>
          {% endif %}
          {% if user.username %}
          <p class="navbar-text pull-right">
            <i class="icon-user icon-white"></i> 
            Login as <a href="/profile">{{ user.username }}</a> | <a href="/signout">logout</a>
          </p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
<!-- Nav bar end-->

  <div class="container">
    <h2></h2>
      <form class="form-horizontal" action="/change/{{ profile.id }}" method="post" name="changeform">
        <div class="row-fluid">
          <div class="span6">
            <fieldset>
              <legend>Your Personal Information</legend>
              <div class="control-group">
                <label class="control-label" for="username">User name</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="username" name="username" placeholder="{{ user.username }}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="email" name="email" placeholder="{{ user.email }}">
                </div>
              </div>
              <hr />
              <div class="control-group">
                <label class="control-label" for="name">Real name</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="name" name="name" placeholder="{{ profile.name }}" >
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="age">Age</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="age" name="age" placeholder="{{ profile.age }}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="gender">Gender</label>
                <div class="controls">
                  <label class="radio">
                    <input type="radio" name="gender" value="M" checked>
                    Male
                  </label>
                  <label class="radio">
                    <input type="radio" name="gender" value="F">
                    Female
                  </label>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="addr">Address</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="addr" name="addr" placeholder="{{ profile.addr }}">
                </div>
              </div>
              <hr />
              <div class="control-group">
                <label class="control-label" for="moneyadd"><strong style="color:blue;">Add Money</strong></label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="moneyadd" name="moneyadd" placeholder="more than 100 will active your account">
                  <span class="help-inline" style="color:red" id="moneyadderror"></span>
                  <p class="help-block">Your account have <strong style="color:#FF66FF">{{ profile.money }}</strong> dollars now.</p>
                  <p class="help-block">Your account will expire after <strong style="color:#FF66FF">{{ profile.expire_date }}</strong>.</p>
                </div>
              </div>
              <script type="text/javascript">
                $(document).ready(function() {
                  $("#changebtn").click(function() {
                    var moneyadd = $("#moneyadd").val();
                    if (isNaN(moneyadd)) {
                      $("#moneyadderror").html("Not number");
                    }else {
                      document.forms["changeform"].submit();
                    }
                  });
                });
              </script>
              <div class="form-actions">
                <a class="btn btn-primary" id="changebtn">Change</a>
                <a href="/" class="btn" >Back</a>
              </div>
            </fieldset>
          </div>
          <!-- Info end -->
          <!-- product begin -->
          <div class="span6">
            <!-- order section begin -->
            <h2>Things you order</h2>
            {% if orders %}
              {% for order in orders %}
                <div class="well">
                  <div class="row-fluid" style="height:140px">
                    <div class="span3">
                      <img style="height:130px; width:130px" src="{{ order.product.photo }}">
                    </div>
                    <div class="span9">
                      <table class="table table-bordered table-striped">
                        <tbody>
                          <tr>
                            <tr>
                              <th>Order Time</th>
                              <th>Expire Time</th>
                              <td rowspan="2" style="vertical-align:middle; text-align:center;">
                                <a class="btn btn-primary" href="/confirmorder/{{ order.id }}"> Confirm</a>
                              </td>
                            </tr>
                            <tr>
                              <td>{{ order.time|date }}</td>
                              <td>{{ order.time_buy }}</td>
                            </tr>
                          </tr>
                          <tr>
                            <tr>
                              <th>Number</th>
                              <th>All Need to Pay</th>
                              <td rowspan="2" style="vertical-align:middle; text-align:center;">
                                <a class="btn" href="/cancelorder/{{ order.id }}"> Cancel</a>
                              </td>
                            </tr>
                            <tr>
                              <td>{{ order.num }}</td>
                              <td>{{ order.money }}</td>
                            </tr>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            {% if not orders %}
              <p> You have not order anything. </p>
            {% endif %}
            <hr />
            <!-- order section end -->
            <!-- bought section begin -->
            <h2>Things you ever bought</h2>
            {% if products_bought %}
              <ul class="thumbnails">
                {% for product in products_bought %}
                  <li class="span2">
                    <a href="/productsall#{{ product.id }}" class="thumbnail">
                      <img src="{{ product.photo }}" alt="" style="height:150px; width:150px">
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if not products_bought %}
              <p> You have not bought anything. </p>
            {% endif %}
          </div>
          <!-- bought section end -->
        </div>
        <!-- product end -->
      </form>
    </div>
  </div>  
  
{% endblock %}