{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<!DOCTYPE html>

<div class="container">
  {% if error %}
    <div id="signin_error" style="color:red; font-size:150%">{{ error }}</div>
  {% endif %}

  <form class="form-horizontal" action="/signin/" method="post" name="signinform">
    <h2>Sign in please</h2>
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username" />
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password" />
    <br />
    <br />
    <input type="submit" value="Signin" />
    {% if next %}
    <input type='hidden' name='next' value='{{next}}' />
    {% endif %}
  </form>

</div>
{% endblock %}